<div class="left">
    <svg width="53" height="78" viewBox="0 0 53 78" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_62_11968)">
        <path d="M24.3934 24.3934L28.4561 24.3934L28.4561 20.3164L24.3934 20.3164L24.3934 24.3934Z" fill="#FD8B1A"/>
        <path d="M16.2538 32.5203L20.3164 32.5203L20.3164 28.4576L16.2538 28.4576L16.2538 32.5203Z" fill="#FD8B1A"/>
        <path d="M28.4576 20.3164L32.5203 20.3164L32.5203 16.2665L28.4576 16.2665L28.4576 20.3164Z" fill="#FD8B1A"/>
        <path d="M32.5203 20.3164L36.5829 20.3164L36.5829 16.2665L32.5203 16.2665L32.5203 20.3164Z" fill="#FD8B1A"/>
        <path d="M16.2538 20.3164L20.3164 20.3164L20.3164 16.2665L16.2538 16.2665L16.2538 20.3164Z" fill="#FD8B1A"/>
        <path d="M20.3164 28.456L24.3934 28.456L24.3934 24.3934L20.3164 24.3934L20.3164 28.456Z" fill="#FD8B1A"/>
        <path d="M24.387 28.4512L28.4545 28.4512L28.4545 24.3902L24.387 24.3902L24.387 28.4512Z" fill="#FD8B1A"/>
        <path d="M8.12694 28.456L12.1896 28.456L12.1896 24.3934L8.12694 24.3934L8.12694 28.456Z" fill="#FD8B1A"/>
        <path d="M12.1912 36.5829L16.2538 36.5829L16.2538 32.5203L12.1912 32.5203L12.1912 36.5829Z" fill="#FD8B1A"/>
        <path d="M16.2585 36.5781L20.3196 36.5781L20.3196 32.5171L16.2585 32.5171L16.2585 36.5781Z" fill="#FD8B1A"/>
        <path d="M-9.05991e-06 36.5829L4.06262 36.5829L4.06262 32.5203L-8.70474e-06 32.5203L-9.05991e-06 36.5829Z" fill="#FD8B1A"/>
        <path d="M32.5203 44.7098L32.5203 48.774L36.5829 48.774L36.5829 52.8366L40.6472 52.8366L40.6472 52.835L44.7098 52.835L44.7098 52.8366L40.6472 52.8366L40.6472 56.9009L44.7098 56.9009L44.7098 56.9025L40.6424 56.9025L40.6424 60.9619L44.7098 60.9619L44.7098 60.9635L48.7724 60.9635L48.7724 60.9619L52.8383 60.9619L52.8383 56.9025L48.7724 56.9025L48.7724 56.9009L52.8367 56.9009L52.8367 52.8366L48.7724 52.8366L48.7724 52.835L52.8383 52.835L52.8383 48.774L48.7724 48.774L44.7098 48.774L40.6472 48.774L44.7098 48.774L44.7098 44.7098L40.6472 44.7098L40.6472 44.7066L44.7098 44.7066L44.7098 40.6455L40.6424 40.6455L40.6424 40.6471L36.5829 40.6471L36.5829 44.7098L32.5203 44.7098Z" fill="#FD2E0C"/>
        <path d="M32.5155 28.4512L36.5829 28.4512L36.5829 24.3902L32.5155 24.3902L32.5155 28.4512Z" fill="#FD2E0C"/>
        <path d="M24.387 36.5781L28.4545 36.5781L28.4545 32.5171L24.387 32.5171L24.387 36.5781Z" fill="#FD2E0C"/>
        <path d="M28.4545 44.7066L28.4545 40.6471L28.4561 40.6471L28.4561 44.7098L32.5203 44.7098L32.5203 44.7066L36.5829 44.7066L36.5829 40.6471L36.5829 36.5829L32.5203 36.5829L32.5203 36.5781L36.5829 36.5781L36.5829 32.5203L36.5829 36.5829L40.6472 36.5829L40.6472 36.5781L44.7098 36.5781L44.7098 32.5187L44.7098 28.456L40.6472 28.456L40.6472 28.4512L44.7098 28.4512L44.7098 28.456L48.7724 28.456L48.7724 28.4512L52.8383 28.4512L52.8383 24.3902L52.8367 24.3902L52.8367 20.3228L52.8383 20.3228L52.8383 16.2617L48.7708 16.2617L48.7708 16.2665L44.7098 16.2665L44.7098 16.2617L40.6424 16.2617L40.6424 20.3228L40.6472 20.3228L40.6472 24.3902L40.6424 24.3902L40.6424 24.3934L36.5829 24.3934L36.5829 28.456L32.5203 28.456L32.5203 32.5187L32.5155 32.5187L32.5155 32.5203L28.4561 32.5203L28.4561 36.5829L24.3934 36.5829L24.3934 40.6455L24.387 40.6455L24.387 44.7066L28.4545 44.7066Z" fill="#FD2E0C"/>
        <path d="M32.5155 52.835L36.5829 52.835L36.5829 48.774L32.5155 48.774L32.5155 52.835Z" fill="#FD2E0C"/>
        <path d="M32.5203 60.9635L36.5829 60.9635L36.5829 56.9009L32.5203 56.9009L32.5203 60.9635Z" fill="#FD8B1A"/>
        <path d="M0.00329147 40.6471L0.00329111 44.7066L4.06272 44.7066L4.06272 44.7098L8.12696 44.7098L8.12696 48.774L12.1896 48.774L8.13175 48.774L8.13175 52.835L12.1896 52.835L12.1896 52.8366L16.2538 52.8366L16.2538 56.9009L20.3165 56.9009L20.3165 56.9025L16.2586 56.9025L16.2586 60.9619L20.3165 60.9619L20.3165 60.9635L24.3935 60.9635L24.3935 65.0261L24.3935 69.0904L28.4561 69.0904L32.5203 69.0904L32.5203 73.153L36.583 73.153L36.583 77.23L40.6472 77.23L40.6472 77.2252L44.7098 77.2252L44.7098 73.1578L40.6472 73.1578L40.6472 73.153L44.7098 73.153L44.7098 69.0904L44.7098 65.0261L40.6472 65.0261L36.583 65.0261L36.583 60.9635L32.5203 60.9635L32.5203 56.9009L28.4561 56.9009L28.4561 52.8366L28.4561 48.774L24.3935 48.774L20.3165 48.774L20.3165 44.7098L20.3165 40.6471L16.2538 40.6471L12.1896 40.6471L12.1896 32.5203L16.2538 32.5203L16.2538 28.456L20.3165 28.456L20.3165 24.3934L24.3935 24.3934L24.3935 20.3164L28.4561 20.3164L28.4561 16.2665L36.583 16.2665L36.583 12.1895L40.6472 12.1895L44.7098 12.1895L44.7098 8.12688L44.7098 4.06744L44.7098 7.62939e-06L40.6424 7.27381e-06L36.583 6.91892e-06L36.583 4.06425L36.583 6.91892e-06L32.5156 6.56334e-06L32.5156 4.06744L32.5203 4.06744L32.5203 8.12688L28.4561 8.12688L24.3935 8.12688L24.3935 12.1895L24.3935 16.2665L20.3165 16.2665L20.3165 20.3164L16.2538 20.3164L16.2538 24.3934L12.1896 24.3934L12.1896 28.456L8.12696 28.456L8.12696 32.5203L4.06273 32.5203L4.06272 36.5829L9.12915e-05 36.5829L9.09362e-05 40.6471L0.00329147 40.6471Z" fill="#FD8B1A"/>
        <path d="M32.5156 77.2252L36.583 77.2252L36.583 73.1578L32.5156 73.1578L32.5156 77.2252Z" fill="#FD8B1A"/>
        </g>
        <defs>
        <clipPath id="clip0_62_11968">
        <rect width="52.8382" height="77.23" fill="white" transform="translate(52.8383 77.23) rotate(-180)"/>
        </clipPath>
        </defs>
        </svg>
</div>
<div class="flex">
    <div style="align-self: center;margin-bottom: 50px;">    <svg width="355" height="51" viewBox="0 0 355 51" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_53_10847)">
        <path d="M354.13 29.1H349.69V36.32H354.13V29.1Z" fill="#FF7CB7"/>
        <path d="M354.13 29.1H349.69V31.52H354.13V29.1Z" fill="#FF7CB7"/>
        <path d="M354.13 24.3H349.69V31.52H354.13V24.3Z" fill="#FF7CB7"/>
        <path d="M354.13 17.06H349.69V24.3H354.13V17.06Z" fill="#FF7CB7"/>
        <path d="M349.69 36.32H345.24V43.56H349.69V36.32Z" fill="#FF7CB7"/>
        <path d="M349.69 29.1H345.24V36.32H349.69V29.1Z" fill="#FF7CB7"/>
        <path d="M349.69 29.1H345.24V31.52H349.69V29.1Z" fill="#FF7CB7"/>
        <path d="M349.69 24.3H345.24V31.52H349.69V24.3Z" fill="#FF7CB7"/>
        <path d="M349.69 17.06H345.24V24.3H349.69V17.06Z" fill="#FF7CB7"/>
        <path d="M349.69 9.82001H345.24V17.06H349.69V9.82001Z" fill="#FF7CB7"/>
        <path d="M345.24 36.32H340.79V43.56H345.24V36.32Z" fill="#FF7CB7"/>
        <path d="M345.24 29.1H340.79V36.32H345.24V29.1Z" fill="#FF7CB7"/>
        <path d="M345.24 29.1H340.79V31.52H345.24V29.1Z" fill="#FF7CB7"/>
        <path d="M345.24 24.3H340.79V31.52H345.24V24.3Z" fill="#FF7CB7"/>
        <path d="M345.24 17.06H340.79V24.3H345.24V17.06Z" fill="#FF7CB7"/>
        <path d="M345.24 9.82001H340.79V17.06H345.24V9.82001Z" fill="#FF7CB7"/>
        <path d="M340.79 36.32H336.35V43.56H340.79V36.32Z" fill="#FF7CB7"/>
        <path d="M340.79 29.1H336.35V36.32H340.79V29.1Z" fill="#FF7CB7"/>
        <path d="M340.79 29.1H336.35V31.52H340.79V29.1Z" fill="#FF7CB7"/>
        <path d="M340.79 24.3H336.35V31.52H340.79V24.3Z" fill="#FF7CB7"/>
        <path d="M340.79 17.06H336.35V24.3H340.79V17.06Z" fill="#FF7CB7"/>
        <path d="M340.79 9.82001H336.35V17.06H340.79V9.82001Z" fill="#FF7CB7"/>
        <path d="M336.35 36.32H331.9V43.56H336.35V36.32Z" fill="#FF7CB7"/>
        <path d="M336.35 29.1H331.9V36.32H336.35V29.1Z" fill="#FF7CB7"/>
        <path d="M336.35 29.1H331.9V31.52H336.35V29.1Z" fill="#FF7CB7"/>
        <path d="M336.35 24.3H331.9V31.52H336.35V24.3Z" fill="#FF7CB7"/>
        <path d="M336.35 17.06H331.9V24.3H336.35V17.06Z" fill="#FF7CB7"/>
        <path d="M336.35 9.82001H331.9V17.06H336.35V9.82001Z" fill="#FF7CB7"/>
        <path d="M331.91 36.32H327.47V43.56H331.91V36.32Z" fill="#FF7CB7"/>
        <path d="M331.91 29.1H327.47V36.32H331.91V29.1Z" fill="#FF7CB7"/>
        <path d="M331.91 29.1H327.47V31.52H331.91V29.1Z" fill="#FF7CB7"/>
        <path d="M331.91 24.3H327.47V31.52H331.91V24.3Z" fill="#FF7CB7"/>
        <path d="M331.91 17.06H327.47V24.3H331.91V17.06Z" fill="#FF7CB7"/>
        <path d="M331.91 9.82001H327.47V17.06H331.91V9.82001Z" fill="#FF7CB7"/>
        <path d="M327.47 36.32H323.02V43.56H327.47V36.32Z" fill="#FF7CB7"/>
        <path d="M327.47 29.1H323.02V36.32H327.47V29.1Z" fill="#FF7CB7"/>
        <path d="M327.47 29.1H323.02V31.52H327.47V29.1Z" fill="#FF7CB7"/>
        <path d="M327.47 24.3H323.02V31.52H327.47V24.3Z" fill="#FF7CB7"/>
        <path d="M327.47 17.06H323.02V24.3H327.47V17.06Z" fill="#FF7CB7"/>
        <path d="M327.47 9.82001H323.02V17.06H327.47V9.82001Z" fill="#FF7CB7"/>
        <path d="M323.02 36.32H31.1101V43.56H323.02V36.32Z" fill="#FF7CB7"/>
        <path d="M323.02 29.1H31.1101V36.32H323.02V29.1Z" fill="#FF7CB7"/>
        <path d="M323.02 29.1H31.1101V31.52H323.02V29.1Z" fill="#FF7CB7"/>
        <path d="M323.02 24.3H31.1101V31.52H323.02V24.3Z" fill="#FF7CB7"/>
        <path d="M323.02 17.06H31.1101V24.3H323.02V17.06Z" fill="#FF7CB7"/>
        <path d="M323.02 9.82001H31.1101V17.06H323.02V9.82001Z" fill="#FF7CB7"/>
        <path d="M31.1099 36.32H26.6699V43.56H31.1099V36.32Z" fill="#FF7CB7"/>
        <path d="M31.1099 29.1H26.6699V36.32H31.1099V29.1Z" fill="#FF7CB7"/>
        <path d="M31.1099 29.1H26.6699V31.52H31.1099V29.1Z" fill="#FF7CB7"/>
        <path d="M31.1099 24.3H26.6699V31.52H31.1099V24.3Z" fill="#FF7CB7"/>
        <path d="M31.1099 17.06H26.6699V24.3H31.1099V17.06Z" fill="#FF7CB7"/>
        <path d="M31.1099 9.82001H26.6699V17.06H31.1099V9.82001Z" fill="#FF7CB7"/>
        <path d="M26.67 36.32H22.22V43.56H26.67V36.32Z" fill="#FF7CB7"/>
        <path d="M26.67 29.1H22.22V36.32H26.67V29.1Z" fill="#FF7CB7"/>
        <path d="M26.67 29.1H22.22V31.52H26.67V29.1Z" fill="#FF7CB7"/>
        <path d="M26.67 24.3H22.22V31.52H26.67V24.3Z" fill="#FF7CB7"/>
        <path d="M26.67 17.06H22.22V24.3H26.67V17.06Z" fill="#FF7CB7"/>
        <path d="M26.67 9.82001H22.22V17.06H26.67V9.82001Z" fill="#FF7CB7"/>
        <path d="M22.22 36.32H17.78V43.56H22.22V36.32Z" fill="#FF7CB7"/>
        <path d="M22.22 29.1H17.78V36.32H22.22V29.1Z" fill="#FF7CB7"/>
        <path d="M22.22 29.1H17.78V31.52H22.22V29.1Z" fill="#FF7CB7"/>
        <path d="M22.22 24.3H17.78V31.52H22.22V24.3Z" fill="#FF7CB7"/>
        <path d="M22.22 17.06H17.78V24.3H22.22V17.06Z" fill="#FF7CB7"/>
        <path d="M22.22 9.82001H17.78V17.06H22.22V9.82001Z" fill="#FF7CB7"/>
        <path d="M17.7901 36.32H13.3401V43.56H17.7901V36.32Z" fill="#FF7CB7"/>
        <path d="M17.7901 29.1H13.3401V36.32H17.7901V29.1Z" fill="#FF7CB7"/>
        <path d="M17.7901 29.1H13.3401V31.52H17.7901V29.1Z" fill="#FF7CB7"/>
        <path d="M17.7901 24.3H13.3401V31.52H17.7901V24.3Z" fill="#FF7CB7"/>
        <path d="M17.7901 17.06H13.3401V24.3H17.7901V17.06Z" fill="#FF7CB7"/>
        <path d="M17.7901 9.82001H13.3401V17.06H17.7901V9.82001Z" fill="#FF7CB7"/>
        <path d="M13.3399 36.32H8.88989V43.56H13.3399V36.32Z" fill="#FF7CB7"/>
        <path d="M343.56 43H315.42V50.24H343.56V43Z" fill="#FF7CB7"/>
        <path d="M315.42 43H37.6899V50.24H315.42V43Z" fill="#FF7CB7"/>
        <path d="M37.69 43H9.46997V50.24H37.69V43Z" fill="#FF7CB7"/>
        <path d="M343.56 3H315.42V10.24H343.56V3Z" fill="#FF7CB7"/>
        <path d="M315.42 3H37.6899V10.24H315.42V3Z" fill="#FF7CB7"/>
        <path d="M37.69 3H9.46997V10.24H37.69V3Z" fill="#FF7CB7"/>
        <path d="M13.3399 29.1H8.88989V36.32H13.3399V29.1Z" fill="#FF7CB7"/>
        <path d="M13.3399 29.1H8.88989V31.52H13.3399V29.1Z" fill="#FF7CB7"/>
        <path d="M13.3399 24.3H8.88989V31.52H13.3399V24.3Z" fill="#FF7CB7"/>
        <path d="M13.3399 17.06H8.88989V24.3H13.3399V17.06Z" fill="#FF7CB7"/>
        <path d="M13.3399 9.82001H8.88989V17.06H13.3399V9.82001Z" fill="#FF7CB7"/>
        <path d="M8.88995 36.32H4.44995V43.56H8.88995V36.32Z" fill="#FF7CB7"/>
        <path d="M8.88995 29.1H4.44995V36.32H8.88995V29.1Z" fill="#FF7CB7"/>
        <path d="M8.88995 29.1H4.44995V31.52H8.88995V29.1Z" fill="#FF7CB7"/>
        <path d="M8.88995 24.3H4.44995V31.52H8.88995V24.3Z" fill="#FF7CB7"/>
        <path d="M8.88995 17.06H4.44995V24.3H8.88995V17.06Z" fill="#FF7CB7"/>
        <path d="M8.88995 9.82001H4.44995V17.06H8.88995V9.82001Z" fill="#FF7CB7"/>
        <path d="M4.45 29.1H0V36.32H4.45V29.1Z" fill="#FF7CB7"/>
        <path d="M4.45 29.1H0V31.52H4.45V29.1Z" fill="#FF7CB7"/>
        <path d="M4.45 24.3H0V31.52H4.45V24.3Z" fill="#FF7CB7"/>
        <path d="M4.45 17.06H0V24.3H4.45V17.06Z" fill="#FF7CB7"/>
        </g>
        <g filter="url(#filter0_d_53_10847)">
        <path d="M123.475 26.25V39H113.275V13.5H123.475V16.05H126.025V18.6H128.575V21.15H131.125V18.6H133.675V16.05H136.225V13.5H146.425V39H136.225V26.25H133.675V28.8H131.125V31.35H128.575V28.8H126.025V26.25H123.475ZM151.535 39V36.45H148.985V16.05H151.535V13.5H177.035V18.6H159.185V23.7H166.835V28.8H159.185V33.9H177.035V39H151.535ZM189.765 26.25V39H179.565V13.5H189.765V16.05H192.315V18.6H194.865V21.15H197.415V13.5H207.615V39H197.415V31.35H194.865V28.8H192.315V26.25H189.765ZM235.645 36.45V39H212.695V36.45H210.145V13.5H220.345V33.9H227.995V13.5H238.195V36.45H235.645Z" fill="white"/>
        </g>
        <defs>
        <filter id="filter0_d_53_10847" x="109.275" y="13.5" width="132.92" height="33.5" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="4"/>
        <feGaussianBlur stdDeviation="2"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_53_10847"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_53_10847" result="shape"/>
        </filter>
        <clipPath id="clip0_53_10847">
        <rect width="354.12" height="47.24" fill="white" transform="translate(0 3)"/>
        </clipPath>
        </defs>
        </svg>   
    </div>
    <ul class="row">
        <% firstList.forEach((folder, index) => { %>
                <div class="game-tile li1" id="<%= folder %>">
                    <% if (previewPaths[index]) { %>
                        <img src="<%= previewPaths[index] %>" alt="Preview Image" />
                    <% } %>
                    <div class="game-tile-name">
                        <p><%= folder %></p>
                    </div>
                </div>
        <% }) %>
    </ul>
    <ul class="row">
        <% secondList.forEach((folder, index) => { %>
                <div class="game-tile li2" id="<%= folder%>">
                    <% if (previewPaths[index + firstList.length]) { %>
                        <img src="<%= previewPaths[index + firstList.length] %>" alt="Preview Image" />
                    <% } %>
                    <div class="game-tile-name">
                        <p><%= folder %></p>
                    </div>
                </div>
        <% }) %>
    </ul>
    <div style="height: 106px;">

    </div>
</div>
<div class="right">
    <svg width="53" height="78" viewBox="0 0 53 78" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_62_11991)">
        <path d="M28.4447 52.8366H24.3821V56.9136H28.4447V52.8366Z" fill="#FD8B1A"/>
        <path d="M36.5844 44.7097H32.5217V48.7724H36.5844V44.7097Z" fill="#FD8B1A"/>
        <path d="M24.3805 56.9136H20.3179V60.9635H24.3805V56.9136Z" fill="#FD8B1A"/>
        <path d="M20.318 56.9136H16.2554V60.9635H20.318V56.9136Z" fill="#FD8B1A"/>
        <path d="M36.5844 56.9136H32.5217V60.9635H36.5844V56.9136Z" fill="#FD8B1A"/>
        <path d="M32.5218 48.774H28.4448V52.8366H32.5218V48.774Z" fill="#FD8B1A"/>
        <path d="M28.4512 48.7788H24.3838V52.8398H28.4512V48.7788Z" fill="#FD8B1A"/>
        <path d="M44.7113 48.774H40.6487V52.8366H44.7113V48.774Z" fill="#FD8B1A"/>
        <path d="M40.6471 40.6471H36.5845V44.7098H40.6471V40.6471Z" fill="#FD8B1A"/>
        <path d="M36.5796 40.6519H32.5186V44.713H36.5796V40.6519Z" fill="#FD8B1A"/>
        <path d="M52.8383 40.6471H48.7756V44.7098H52.8383V40.6471Z" fill="#FD8B1A"/>
        <path d="M20.318 32.5202L20.318 28.456H16.2553V24.3934H12.1911V24.395H8.12846V24.3934H12.1911L12.1911 20.3291H8.12846V20.3275H12.1959V16.2681H8.12846V16.2665H4.06583V16.2681H0L0 20.3275H4.06583V20.3291H0.0015982L0.0015982 24.3934H4.06583V24.395H0L0 28.456H4.06583H8.12846H12.1911H8.12846V32.5202H12.1911V32.5234H8.12846V36.5845H12.1959V36.5829H16.2553V32.5202H20.318Z" fill="#FD2E0C"/>
        <path d="M20.3228 48.7788H16.2554V52.8398H20.3228V48.7788Z" fill="#FD2E0C"/>
        <path d="M28.4512 40.6519H24.3838V44.7129H28.4512V40.6519Z" fill="#FD2E0C"/>
        <path d="M24.3838 32.5234V36.5829H24.3822V32.5202H20.318V32.5234H16.2553V36.5829V40.6471H20.318V40.6519H16.2553V44.7097V40.6471H12.1911V40.6519H8.12846V44.7113V48.774H12.1911V48.7788H8.12846V48.774H4.06583V48.7788H0L0 52.8398H0.0015982L0.0015982 56.9072H0L0 60.9683H4.06743V60.9635H8.12846V60.9683H12.1959V56.9072H12.1911L12.1911 52.8398H12.1959V52.8366H16.2553V48.774H20.318L20.318 44.7113H20.3228V44.7097H24.3822V40.6471H28.4448V36.5845H28.4512V32.5234H24.3838Z" fill="#FD2E0C"/>
        <path d="M20.3228 24.395H16.2554V28.456H20.3228V24.395Z" fill="#FD2E0C"/>
        <path d="M20.318 16.2665H16.2554V20.3291H20.318V16.2665Z" fill="#FD8B1A"/>
        <path d="M52.835 36.5829V32.5234H48.7755V32.5202H44.7113L44.7113 28.456H40.6487H44.7065V24.395H40.6487V24.3934H36.5844V20.3292H32.5218V20.3276H36.5796V16.2681H32.5218V16.2665H28.4448L28.4448 12.2039V8.13965H24.3822H20.3179V4.07702L16.2553 4.07702V0L12.1911 0V0.00479461L8.12842 0.00479461V4.07222L12.1911 4.07222V4.07702L8.12842 4.07702L8.12842 8.13965V12.2039H12.1911L16.2553 12.2039V16.2665H20.3179V20.3292L24.3822 20.3292V24.3934V28.456H28.4448H32.5218V32.5202V36.5829H36.5844L40.6487 36.5829V44.7098L36.5844 44.7098V48.774H32.5218V52.8366H28.4448V56.9136H24.3822V60.9635H16.2553V65.0405H12.1911H8.12842L8.12842 69.1031V73.1626V77.23H12.1958H16.2553V73.1658V77.23H20.3227V73.1626H20.3179V69.1031H24.3822H28.4448V65.0405V60.9635H32.5218V56.9136H36.5844V52.8366L40.6487 52.8366V48.774H44.7113V44.7098H48.7755V40.6471H52.8382V36.5829H52.835Z" fill="#FD8B1A"/>
        <path d="M20.3228 0.00479126L16.2554 0.00479126V4.07222L20.3228 4.07222V0.00479126Z" fill="#FD8B1A"/>
        </g>
        <defs>
        <clipPath id="clip0_62_11991">
        <rect width="52.8382" height="77.23" fill="white"/>
        </clipPath>
        </defs>
        </svg>        
</div>